Repository CommunityToolkit/Aspire, pull requests merged in 2024-11, with the labels that each got.

#143 Change Ollama AddModel to create a separate resource
  examples/ollama/CommunityToolkit.Aspire.Hosting.Ollama.AppHost/Program.cs
  examples/ollama/CommunityToolkit.Aspire.Hosting.Ollama.Web/Components/Pages/Home.razor
  examples/ollama/CommunityToolkit.Aspire.Hosting.Ollama.Web/Program.cs
  examples/ollama/CommunityToolkit.Aspire.Hosting.Ollama.Web/ServiceKeys.cs
  src/CommunityToolkit.Aspire.Hosting.Ollama/OllamaModelResource.cs
  src/CommunityToolkit.Aspire.Hosting.Ollama/OllamaModelResourceLifecycleHook.cs
  src/CommunityToolkit.Aspire.Hosting.Ollama/OllamaResource.cs
  src/CommunityToolkit.Aspire.Hosting.Ollama/OllamaResourceBuilderExtensions.cs
  src/CommunityToolkit.Aspire.Hosting.Ollama/OllamaResourceLifecycleHook.cs
  src/CommunityToolkit.Aspire.Hosting.Ollama/PublicAPI.Unshipped.txt
  src/CommunityToolkit.Aspire.OllamaSharp/AspireOllamaSharpExtensions.cs
  tests/CommunityToolkit.Aspire.Hosting.Ollama.Tests/AddOllamaTests.cs
Labels: integration

#195 ollama code coverge
  src/CommunityToolkit.Aspire.Hosting.Ollama/CommunityToolkit.Aspire.Hosting.Ollama.csproj
  src/CommunityToolkit.Aspire.Hosting.Ollama/OllamaContainerImageTags.cs
  src/CommunityToolkit.Aspire.Hosting.Ollama/OllamaResourceBuilderExtensions.cs
  src/CommunityToolkit.Aspire.Hosting.Ollama/PublicAPI.Unshipped.txt
  src/CommunityToolkit.Aspire.OllamaSharp/AspireOllamaSharpExtensions.cs
  tests/CommunityToolkit.Aspire.Hosting.Ollama.Tests/AddOllamaTests.cs
  tests/CommunityToolkit.Aspire.Hosting.Ollama.Tests/CommunityToolkit.Aspire.Hosting.Ollama.Tests.csproj
  tests/CommunityToolkit.Aspire.Hosting.Ollama.Tests/OllamaFunctionalTests.cs
Labels: blocking-clean-ci, testing

#208 Disabling ollama integration tests
  tests/CommunityToolkit.Aspire.Hosting.Ollama.Tests/AppHostTests.cs
Labels: flaky-test

#203 Ollama resource commands
  examples/deno/vite-demo/deno.lock
  examples/ollama/CommunityToolkit.Aspire.Hosting.Ollama.AppHost/Program.cs
  src/CommunityToolkit.Aspire.Hosting.Ollama/OllamaModelHealthCheck.cs
  src/CommunityToolkit.Aspire.Hosting.Ollama/OllamaModelResourceLifecycleHook.cs
  src/CommunityToolkit.Aspire.Hosting.Ollama/OllamaResourceBuilderExtensions.Model.cs
  src/CommunityToolkit.Aspire.Hosting.Ollama/OllamaResourceBuilderExtensions.OpenWebUI.cs
  src/CommunityToolkit.Aspire.Hosting.Ollama/OllamaResourceBuilderExtensions.cs
  src/CommunityToolkit.Aspire.Hosting.Ollama/OllamaUtilities.cs
  tests/CommunityToolkit.Aspire.Hosting.Ollama.Tests/AppHostTests.cs
  tests/CommunityToolkit.Aspire.Hosting.Ollama.Tests/OllamaFunctionalTests.cs
  tests/CommunityToolkit.Aspire.Testing/AspireIntegrationTest.cs
Labels: enhancement, integration

#222 Test stability
  .github/workflows/dotnet-ci.yml
  .github/workflows/dotnet-main.yml
  .github/workflows/dotnet-release.yml
  .vscode/settings.json
  CommunityToolkit.Aspire.sln
  src/CommunityToolkit.Aspire.Hosting.Ollama/OllamaResourceBuilderExtensions.Model.cs
  src/CommunityToolkit.Aspire.Hosting.Ollama/OllamaResourceBuilderExtensions.cs
  tests-app-hosts/Directory.Build.props
  tests-app-hosts/Ollama.AppHost/Ollama.AppHost.csproj
  tests-app-hosts/Ollama.AppHost/Program.cs
  tests/CommunityToolkit.Aspire.Hosting.Azure.StaticWebApps.Tests/SwaHostingComponentTests.cs
  tests/CommunityToolkit.Aspire.Hosting.Ollama.Tests/AddOllamaTests.cs
  tests/CommunityToolkit.Aspire.Hosting.Ollama.Tests/AppHostTests.cs
  tests/CommunityToolkit.Aspire.Hosting.Ollama.Tests/CommunityToolkit.Aspire.Hosting.Ollama.Tests.csproj
  tests/CommunityToolkit.Aspire.Hosting.Ollama.Tests/OllamaFunctionalTests.cs
  tests/CommunityToolkit.Aspire.Hosting.Rust.Tests/AppHostTests.cs
Labels: blocking-clean-ci, testing, flaky-test

#260 Fixing `WaitFor` support with Ollama model downloads
  examples/ollama/CommunityToolkit.Aspire.Hosting.Ollama.AppHost/Program.cs
  src/CommunityToolkit.Aspire.Hosting.Ollama/OllamaModelResourceLifecycleHook.cs
  src/CommunityToolkit.Aspire.Hosting.Ollama/OllamaResourceBuilderExtensions.Model.cs
Labels: bug
